WP_EMAIL=twoj_mail@wp.pl
WP_PASSWORD=twoje_haslo_lub_haslo_aplikacji
IMAP_SERVER=imap.wp.pl
IMAP_PORT=993
START_DATE=2026-03-16
OUTPUT_XLSX=vinted_podsumowanie.xlsx
OUTPUT_HTML=vinted_podsumowanie.html
DYNAMIC_FILENAME=1
OUTPUT_PREFIX=podsumowanie Kamochi
VINTED_FROM_CONTAINS=vinted
VINTED_PROFILE_DIR=
VINTED_CHROME_PATH=
VINTED_WAIT_FOR_LOGIN=1
VINTED_HEADLESS=0
